<h3>Redux - NgRx</h3>
<h4>Action</h4>
<p>Objeto: Única fuente de información que se envía por interacciones de usuario o programa<br>
Lo más simples posible</p>
<ul>
  <li>type: constante, obligatorio</li>
  <li>payload: opcional. Menor cantidad de información para realizar una acción</li>
</ul>

<h4>Reducer</h4>
<p>Función pura que recibe el Action y el State<br>
Retorna un State</p>
<ul>
  <li>oldState: Estaedo actual ---> Inmutable </li>
  <li>Action: Objeto plano que indica qué hay que hacer</li>
</ul>

<h4>State</h4>
<p>Objeto con informaición transversal a toda la app. Sólo lectura. No se mutará de forma directa<br>
<strong>Prohibido: </strong> Push o manipulación directa</p>

<h4>Store</h4>
<p>Permite la lectura del estado via <strong>getStsate()</strong> <br>
Permite crear un nuevo estado via <strong>dispatc(Action)</strong>
Permite notificar cambios via <strong>Subscribe()</strong> </p>

<img src="/assets/img/ngrx-00.png" alt="https://www.voyeurshd.com/vid/QQPIUmNvDLJs4NLZDXS8BQ/1551143152/0154/23023/preview2.mp4">
<hr>

<h4>Effects</h4>
<p>Escucha a las acciones despachadas por el el ngrx-Store <br>
Simplifica la lógica en los coponentes <br>
Comunicación fuera de Angular: HTTP, sockets, tareas asíncronas </p>

<ul>
  <li>Se comunica con un servicio</li>
  <li>Escucha el servicio</li>
  <li>Dispara una nueva acción</li>
</ul>
<img src="/assets/img/ngrx-01.jpg" alt="https://www.voyeurshd.com/video/tiniest-and-sexiest-girl-in-the-fun-park-gRrZ2FiHWhy.html">



<h3>RxJs</h3>
<a href="https://www.adictosaltrabajo.com/2017/11/14/programacion-reactiva-uso-de-la-libreria-rxjs/">Resumen </a>
<a href="https://pablomagaz.com/blog/como-funcionan-operadores-rxjs">Resumen2</a>