<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">TsLint</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
    </ul>

<h2>TsLint</h2>
<p>Run: ng lint</p>
<p>Fix: ng lint --fix</p>
<p>ayudaba a detectar código incompatible, mal escrito, ambiguo y con otras características, este se basaba en los estándares de los lenguajes de programación y las arquitecturas. </p>
<p></p>

<h5>ejemplo</h5>
<pre>
  {{{
    "extends": "tslint:recommended",
      "rulesDirectory": ["path/to/custom/rules/directory/", "another/path/"],
      "rules": {
          "max-line-length": {
              "options": [120]
          },
          "new-parens": true,
          "no-arg": true,
          "no-bitwise": true,
          "no-conditional-assignment": true,
          "no-consecutive-blank-lines": false,
          "no-console": {
              "severity": "warning",
              "options": ["debug", "info", "log", "time", "timeEnd", "trace"]
          }
      },
      "jsRules": {
          "max-line-length": {
              "options": [120]
          }
      }
  } | json }}
</pre>

<h2>Debounce</h2>
<pre>
    {{{<script>

            function alertar(nombre, apellido) {
                alert(`${nombre} ${apellido}`);
            }
    
            function debounce(debouncedFunction, tiempo) {
                let timeoutId;
                return function() {
                    if ( timeoutId ) {
                        clearTimeout(timeoutId);
                    }
                    const context = this;
                    const args = arguments;
                    console.log(debouncedFunction, args);
                    timeoutId = setTimeout( () => {
                        debouncedFunction.apply(context, args)
                    }, tiempo);
                }
            }
    
            const debouncedAlert = debounce(alertar, 1000);
    
            document.querySelector('button').addEventListener('click', function() {
                debouncedAlert('Carlos', 'Angulo')
            });
    
            let llamado = alertar;
    
            llamado.apply(document.head, ['primer', 'second'])
            
    
        </script>} | javascript }}
</pre>
